* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.16rem; }

a {
  text-decoration: none; }

img {
  width: 100%; }

body {
  overflow-x: hidden; }

ul,
li {
  list-style: none; }

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  border-bottom: 1px solid #EAEAEA; }
  .nav img {
    padding: 0.08rem 0.09rem;
    width: 40%; }
  .nav .cr {
    font-size: 0.18rem;
    color: #000; }
  .nav .right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .nav .right .icon-user {
      font-size: 0.225rem; }
    .nav .right .icon-nav {
      font-size: 0.165rem; }
  .nav .bottom {
    margin: 0 0.09rem; }
  .nav p {
    font-size: 0.11rem;
    color: #999999; }

.yi {
  width: 100%;
  background-color: #EEEEEE;
  height: 0.12rem; }

.text {
  width: 100%;
  padding: 0.18rem;
  text-indent: 2em;
  line-height: 0.25rem; }

.fig {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 0.18rem;
  border-bottom: 1px solid #EAEAEA; }
  .fig .da {
    margin: 0.19rem 0;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .fig .da .xiao {
      display: flex;
      align-items: center; }
      .fig .da .xiao div:nth-child(1) {
        background-color: #DCDCDC;
        width: 0.3rem;
        height: 0.3rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        text-align: center;
        line-height: 0.3rem; }
      .fig .da .xiao div:nth-child(2) {
        color: #39C893;
        margin-left: 0.1rem;
        font-size: 0.14rem; }
    .fig .da p {
      font-size: 0.14rem;
      color: #999; }
  .fig p {
    font-size: 0.18rem; }

.btn {
  width: 95%;
  margin: 0.18rem auto;
  display: flex; }
  .btn div {
    width: 33.333%;
    text-align: center;
    height: 0.41rem;
    font-size: 0.18rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #39C893;
    color: white; }
  .btn .bt {
    color: black;
    background-color: white;
    border: 1px solid #eaeaea; }

.foot {
  width: 100%;
  position: relative; }
  .foot .aaa {
    width: 0.47rem;
    height: 0.47rem;
    line-height: 0.47rem;
    background-color: white;
    border: 2px solid #dedede;
    border-radius: 50%;
    position: absolute;
    right: 0.1rem;
    top: -0.16rem;
    text-align: center; }
    .foot .aaa span {
      font-size: 0.25rem;
      color: #9c9c9c; }
  .foot p {
    text-align: center;
    color: #333333;
    font-size: 0.14rem;
    padding: 0.15rem 0; }
    .foot p span {
      color: #00be9c;
      font-size: 0.16rem; }
  .foot .pq {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .foot .pq a:nth-child(1) {
      color: #00BE9C; }
  .foot .op {
    width: 100%;
    display: flex;
    position: relative;
    height: 0.53rem;
    line-height: 0.53rem;
    background-color: #000;
    align-items: center;
    opacity: 0.8; }
    .foot .op .img1 {
      position: absolute;
      left: 0;
      top: 0;
      width: 0.24rem; }
    .foot .op .img2 {
      width: 70%;
      height: 100%;
      padding-left: 0.2rem; }
    .foot .op div {
      width: 0.875rem;
      height: 0.25rem;
      text-align: center;
      line-height: 0.25rem;
      background-color: #feb605;
      color: white;
      font-size: 0.12rem;
      margin-left: 0.1rem;
      border-radius: 25px; }
  .foot .img3 {
    width: 100%; }

.mo {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

.tai {
  width: 100%;
  background-color: #EAEAEA;
  padding-bottom: 0.2rem;
  position: absolute;
  bottom: 2.8rem;
  left: 0;
  height: 1.58rem;
  text-align: center;
  font-size: 0.18rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .tai p {
    font-size: 0.18rem;
    padding-bottom: 0.15rem; }
  .tai span {
    font-size: 0.18rem;
    color: #39C893; }

.hei {
  width: 100%;
  background-color: #000;
  opacity: 0.75;
  position: absolute;
  bottom: 4.38rem;
  height: 1.67rem; }

/*# sourceMappingURL=demo18.css.map */
