* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
ul,
li {
    list-style: none;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    img {
        padding: 0.08rem 0.09rem;
        width: 40%;
    }
    .cr {
        font-size: 0.18rem;
        color: #000;
    }
    .right {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon-mine {
            font-size: 0.225rem;
        }
        .icon-liebiao {
            font-size: 0.165rem;
        }
    }
    .bottom {
        margin: 0 0.09rem;
    }
    p {
        font-size: 0.11rem;
        color: #999999;
    }
}
.logo {
    width: 100%;
    border-top: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    ul {
        width: 100%;
        height: 0.5rem;
        display: flex;
        li {
            width: 25%;
            text-align: center;
            padding: 0.05rem 0;
            margin: 0.1rem 0;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-right: 1px solid #f4f4f4;
            span:nth-child(1) {
                font-size: 0.18rem;
                color: #000;
            }
            span:nth-child(2) {
                font-size: 0.125rem;
                color: #999;
                height: 0.075rem;
            }
        }
        li:nth-child(4) span {
            color: #39C893;
            font-size: 0.18rem;
        }
    }
}
.yi {
    width: 100%;
    background-color: #E3E3E3;
    height: 0.07rem;
}
.geya{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0.15rem 0;
    border-bottom: 1px solid #eee;
    img{
        width: 1.4rem;
        height: 0.98rem;
    }
    .da{
        display: flex;
        flex-direction: column;
        width: 61%;
        margin-left:0.125rem;
        justify-content: space-around;
//      align-items: flex-start;
        p:nth-child(1){
            font-size:0.18rem;
            color: #000;
        }
        p:nth-child(2){
            display: flex;
            align-items: center;
            span:nth-child(1){
                background-color: #39C893;
                padding:0 0.05rem;
                display: flex;
                color: white;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
            }
            span:nth-child(2){
                font-size: 0.25rem;
                color:#39C893;
                padding-left: 0.18rem;
            }
        }
        p:nth-child(3){
            display: flex;
            justify-content: space-between;
            color:#999999;
        }
    }
}
.btn {
    width: 95%;
    margin: 0.18rem auto;
    display: flex;
    div {
        width: 33.333%;
        text-align: center;
        height: 0.41rem;
        font-size: 0.18rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #39C893;
        color: white;
    }
    .bt {
        color: black;
        background-color: white;
        border: 1px solid #eaeaea;
    }
}
.foot{
    width: 100%;
    position: relative;
    .aaa{
        width: 0.47rem;
        height: 0.47rem;
        line-height: 0.47rem;
        background-color: white;
        border: 2px solid #dedede;
        border-radius: 50%;
        position: absolute;
        right: 0.1rem;
        top: -0.16rem;
        text-align: center;
        span{
            font-size: 0.25rem;
            color: #9c9c9c;
        }
    }
    p{
        text-align: center;
        color: #333333;
        font-size: 0.14rem;
        padding: 0.15rem 0;
        span{
            color:#00be9c;
            font-size: 0.16rem;
        }
    }
    .pq{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.15rem;
        border-bottom: 1px solid #EEEEEE;
        a:nth-child(1){
            color: #00BE9C;
        }
    }
    .ban{
        text-align: center;
        color: #999;
        padding: 0.15rem 0;
        font-size: 0.14rem;
    }
}
