* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 0.16rem; }

a {
  text-decoration: none; }

img {
  width: 100%; }

body {
  overflow-x: hidden; }

ul,
li {
  list-style: none; }

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between; }
  .nav img {
    padding: 0.08rem 0.09rem;
    width: 40%; }
  .nav .cr {
    font-size: 0.18rem;
    color: #000; }
  .nav .right {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    .nav .right .icon-user {
      font-size: 0.225rem; }
    .nav .right .icon-nav {
      font-size: 0.165rem; }
  .nav .bottom {
    margin: 0 0.09rem; }
  .nav p {
    font-size: 0.11rem;
    color: #999999; }

.yi {
  width: 100%;
  background-color: #EEEEEE;
  height: 0.12rem; }

.text {
  width: 100%;
  padding: 0.18rem;
  text-indent: 2em;
  line-height: 0.25rem; }

.fig {
  width: 100%;
  padding: 0.18rem 0.12rem;
  display: flex;
  justify-content: space-between; }
  .fig img {
    width: 1.4rem;
    height: 1.03rem; }
  .fig div {
    padding-left: 0.125rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .fig div p:nth-child(1) {
      font-size: 0.18rem;
      color: black; }
    .fig div p:nth-child(2) {
      font-size: 0.14rem;
      color: #999; }
      .fig div p:nth-child(2) span {
        font-size: 0.14rem;
        color: #FF4351; }
    .fig div p:nth-child(3) {
      font-size: 0.14rem;
      color: #999; }
      .fig div p:nth-child(3) span {
        font-size: 0.14rem;
        color: #000; }
    .fig div p:nth-child(4) {
      font-size: 0.14rem;
      color: #999; }
      .fig div p:nth-child(4) span {
        font-size: 0.14rem;
        color: #FF4351; }

.jingzhuang {
  width: 100%;
  padding: 0 0.12rem 0.15rem;
  font-size: 0.1rem;
  line-height: 0.2rem; }

.boc {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #EAEAEA; }
  .boc div {
    width: 25%;
    text-align: center;
    padding: 0.2rem 0;
    border-right: 1px solid #EAEAEA; }
  .boc div:nth-child(2) {
    border-bottom: 5px solid #39C893; }

.fg {
  width: 110%;
  display: flex;
  align-items: center;
  padding: 0.18rem 0; }
  .fg div {
    height: 0.27rem;
    margin-left: 0.06rem;
    color: #39C893;
    border: 1px solid #39C893;
    display: flex;
    justify-content: center;
    font-size: 0.14rem;
    align-items: center;
    padding: 0.1rem 0.15rem;
    border-radius: 25px; }
  .fg div:nth-child(1) {
    color: white;
    background-color: #39C893; }

table {
  width: 95%;
  margin: 0 auto;
  color: #39C893;
  margin-bottom: 0.18rem; }
  table tr {
    font-size: 0.427rem;
    color: #999; }
    table tr td {
      border: 1px solid #dcdcdc;
      padding: 0.1rem 0.05rem; }
    table tr td:nth-child(1) {
      width: 30%;
      border-left: none; }
    table tr td:nth-child(2) {
      width: 22%; }
    table tr td:nth-child(3) {
      width: 50%;
      border-right: none; }
  table tr:nth-of-type(1) {
    color: #39C893; }

.tet {
  width: 100%;
  padding: 0 0.07rem;
  height: 0.7rem;
  overflow: hidden; }
  .tet div {
    color: white;
    line-height: 0.3rem;
    font-size: 0.18rem; }

.foot {
  width: 100%;
  position: relative; }
  .foot .aaa {
    width: 0.47rem;
    height: 0.47rem;
    line-height: 0.47rem;
    background-color: white;
    border: 2px solid #dedede;
    border-radius: 50%;
    position: absolute;
    right: 0.1rem;
    top: -0.16rem;
    text-align: center; }
    .foot .aaa span {
      font-size: 0.25rem;
      color: #9c9c9c; }
  .foot p {
    text-align: center;
    color: #333333;
    font-size: 0.14rem;
    padding: 0.15rem 0; }
    .foot p span {
      color: #00be9c;
      font-size: 0.16rem; }
  .foot .pq {
    width: 100%;
    display: flex;
    justify-content: space-around; }
    .foot .pq a:nth-child(1) {
      color: #00BE9C; }
  .foot .op {
    width: 100%;
    display: flex;
    height: 0.5rem;
    justify-content: center;
    line-height: 0.53rem;
    background-color: #FF4351;
    align-items: center;
    opacity: 0.8;
    color: white;
    font-size: 0.18rem; }
    .foot .op span {
      font-size: 0.28rem;
      padding-right: 0.2rem; }
  .foot .img3 {
    width: 100%; }

/*# sourceMappingURL=demo14.css.map */
