* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
ul,
li {
    list-style: none;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #999;
    img {
        padding: 0.08rem 0.09rem;
        width: 40%;
    }
    .cr {
        font-size: 0.18rem;
        color: #000;
    }
    .right {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon-mine {
            font-size: 0.225rem;
        }
        .icon-liebiao {
            font-size: 0.165rem;
        }
    }
    .bottom {
        margin: 0 0.09rem;
    }
    p {
        font-size: 0.11rem;
        color: #999999;
    }
}
.yi {
    width: 100%;
    background-color: #E3E3E3;
    height: 0.07rem;
}
.bi {
    padding: 0.18rem 0.1rem 0;
    display: flex;
    img {
        width: 0.8rem;
        height: 0.8rem;
        margin-right: 0.11rem;
    }
    .sm {
        width: 73%;
        display: flex;
        flex-direction: column;
        line-height: 0.25rem;
        p:nth-child(1) {
            span:nth-child(1) {
                font-size: 0.18rem;
                color: #000;
                a {
                    background-color: #39C893;
                    color: #fff;
                    font-size: 0.12rem;
                    margin-left: 0.1rem;
                    padding: 0.02rem;
                    border-radius: 5px;
                }
            }
        }
        p {
            display: flex;
            justify-content: space-between;
            align-items: center;
            span {
                font-size: 0.14rem;
                color: #333;
                a {
                    font-size: 0.14rem;
                    color: #999;
                }
            }
        }
    }
}
.zan {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0.15rem 0;
    .ou {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 0.2rem;
        .ob {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 0.5rem;
            height: 0.5rem;
            border: 2px solid;
            border-radius: 50%;
            span {
                font-size: 0.225rem;
            }
        }
        p {
            margin-top: 0.125rem;
        }
    }
    .ou:nth-child(1) {
        .ob {
            border-color: #FEAB3A;
            span {
                color: #FEAB3A;
            }
        }
        p {
            color: #FEAB3A;
        }
    }
    .ou:nth-child(2) {
        .ob {
            border-color: #007AFF;
            span {
                color: #007AFF;
            }
        }
        p {
            color: #007AFF;
        }
    }
    .ou:nth-child(3) {
        .ob {
            border-color: #FF4351;
            span {
                color: #FF4351;
            }
        }
        p {
            color: #FF4351;
        }
    }
}
.jianli {
    width: 95%;
    margin: 0 auto;
    line-height: 0.25rem;
    padding-bottom: 0.1rem;
    span {
        color: #999;
    }
}
.sj {
    width: 95%;
    margin: 0 auto;
    padding: 0.18rem 0;
    p {
        border-left: 2px solid #39C893;
        padding-left: 0.1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        span:nth-child(2) {
            font-size: 0.12rem;
            color: #999;
        }
    }
}
.fig {
    width: 100%;
    padding-bottom: 0.1rem;
    .box {
        width: 95%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        div {
            width: 49%;
            margin-top: 0.1rem;
            text-align: center;
            background-color: white;
            border: 1px solid #eee;
            img {
                width: 1.73rem;
                height: 1.175rem;
            }
            h3 {
                padding-top: 0.12rem;
                padding-bottom: 0.1rem;
                font-size: 0.16rem;
                color: #000;
            }
            p {
                font-size: 0.1rem;
                color: #999;
                padding-bottom: 0.12rem;
            }
        }
        div:nth-child(1){
            margin: 0;
        }
        div:nth-child(2){
            margin: 0;
        }
    }
}
.foot{
    width: 100%;
    position: relative;
    .aaa{
        width: 0.47rem;
        height: 0.47rem;
        line-height: 0.47rem;
        background-color: white;
        border: 2px solid #dedede;
        border-radius: 50%;
        position: absolute;
        right: 0.1rem;
        top: -0.16rem;
        text-align: center;
        span{
            font-size: 0.25rem;
            color: #9c9c9c;
        }
    }
    p{
        text-align: center;
        color: #333333;
        font-size: 0.14rem;
        padding: 0.15rem 0;
        span{
            color:#00be9c;
            font-size: 0.16rem;
        }
    }
    .pq{
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 0.15rem;
        border-bottom: 1px solid #EEEEEE;
        a:nth-child(1){
            color: #00BE9C;
        }
    }
    .ban{
        text-align: center;
        color: #999;
        padding: 0.15rem 0;
        font-size: 0.14rem;
    }
}
.text{
    width: 100%;
    padding: 0.18rem;
    text-indent:2em;
    line-height: 0.25rem;
}