* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 0.16rem;
}
a {
    text-decoration: none;
}
img {
    width: 100%;
}
ul,li {
    list-style: none;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    img {
        padding: 0.08rem 0.09rem;
        width: 40%;
    }
    .cr {
        font-size: 0.18rem;
        color: #000;
    }
    .right {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .icon-mine {
            font-size: 0.225rem;
        }
        .icon-liebiao {
            font-size: 0.165rem;
        }
    }
    .bottom {
        margin: 0 0.09rem;
    }
    p {
        font-size: 0.11rem;
        color: #999999;
    }
}
.fig{
    width:95%;
    padding: 0.18rem 0;
    margin: 0 auto;
    .guan{
        font-size: 0.14rem;
        color:  #000;
        margin-bottom: 0.15rem;
        span{
            padding:0 0.03rem;
            font-size: 0.14rem;
            color: white;
            background-color: #39C893;
            margin-left: 0.15rem;
            line-height: 0.2rem;
            text-align: center;
            border-radius: 5px;
        }
    }
    p:nth-child(2){
        margin-bottom: 0.15rem;
        display: flex;
        width:80%;
        justify-content: space-between;
        span{
            font-size: 0.12rem;
            color: #000;
            a{
                font-size: 0.12rem;
                color:#999;
            }
        }
    }
    p:nth-child(3){
        margin-bottom: 0.15rem;
        font-size: 0.12rem;
        color: #000;
        span{
            font-size: 0.12rem;
            color:#999;
        }
    }
    .hezi{
        width: 100%;
        display: flex;
        div:nth-child(1){
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAEAEA;
            height: 0.35rem;
            width: 50%;
            span{
                padding: 0 0.05rem;
                color: #007AFF;
            }
        }
    }
    .hezi{
        width: 100%;
        display: flex;
        div:nth-child(2){
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #EAEAEA;
            height: 0.35rem;
            width: 50%;
            span{
                padding: 0 0.05rem;
                color: #39C893;
            }
        }
    }
}
.sheji{
    width: 100%;
    background-color: #EEEEEE;
    padding-bottom: 0.18rem;
    .logo1{
        width: 95%;
        margin: 0 auto;
        padding: 0.18rem 0;
        span:nth-child(1){
            font-size: 0.14rem;
            a{
                text-decoration: underline;
                color: #39C893;
            }
        }
        span:nth-child(2){
            padding-left: 0.4rem;
            font-size: 0.14rem;
            a{
                color: #999;
            }
        }
    }
    .nan{
        width: 95%;
        margin:0 auto;
        display: flex;
        align-items: center;
        .one{
            width: 0.225rem;
            height: 0.225rem;
            background-color: #39C893;
            border-radius: 50%;
            z-index: 999;
        }
        .two{
            width: 0.225rem;
            height: 0.01rem;
            background-color: #39C893;
        }
        .three{
            font-size:0.14rem;
            color:  #666;
            background-color:gainsboro;
            height: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 0.12rem;
        }
        .four{
            padding: 0 0.12rem;
            height: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #39C895;
            color: white;
        }
        .five{
            padding: 0 0.12rem;
            height: 0.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #FEB605;
            color: white;
            margin-left: 0.05rem;
        }
    }
    .ni{
        width: 95%;
        margin: 0 auto;
        padding:0.15rem 0 0.15rem 0.44rem;
    }
    .wo{
        width:95%;
        margin: 0 auto;
        padding-left: 0.44rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 0.18rem;
        img{
            margin-right: 0.03rem;
            margin-bottom: 0.03rem;
            width: 31.666%;
            
        }
    }
    .ta{
        width: 95%;
        margin: 0 auto;
        padding-left: 0.44rem;
        padding-right: 0.1rem;
    }
}
.text{
    width: 100%;
    padding: 0.18rem;
    text-indent:2em;
    line-height: 0.25rem;
}
.foot{
    width: 100%;
    position: relative;
    .aaa{
        width: 0.47rem;
        height: 0.47rem;
        line-height: 0.47rem;
        background-color: white;
        border: 2px solid #dedede;
        border-radius: 50%;
        position: absolute;
        right: 0.1rem;
        top: -0.16rem;
        text-align: center;
        span{
            font-size: 0.25rem;
            color: #9c9c9c;
        }
    }
    p{
        text-align: center;
        color: #333333;
        font-size: 0.14rem;
        padding: 0.15rem 0;
        span{
            color:#00be9c;
            font-size: 0.16rem;
        }
    }
    .pq{
        width: 100%;
        display: flex;
        justify-content: space-around;
        a:nth-child(1){
            color: #00BE9C;
        }
    }
    .op{
        width: 100%;
        display: flex;
        position: relative;
        height: 0.53rem;
        line-height: 0.53rem;
        background-color: #000;
        align-items: center;
        opacity:.8;
        .img1{
            position:absolute;
            left: 0;
            top: 0;
            width: 0.24rem;
        }
        .img2{
            width: 70%;
            height: 100%;
            padding-left: 0.2rem;
        }
        div{
            width: 0.875rem;
            height: 0.25rem;
            text-align: center;
            line-height: 0.25rem;
            background-color: #feb605;
            color: white;
            font-size: 0.12rem;
            margin-left: 0.1rem;
            border-radius: 25px;
        }
    }
    .img3{
        width: 100%;
    }
}
.yi {
    width: 100%;
    background-color: #E3E3E3;
    height: 0.07rem;
}
.gao{
    position: absolute;
    top: 3.02rem;
    height:8.91rem;
    width: 1px;
    background-color:gainsboro;
    left: 0.21rem;
}
